/* styles  type selector */

div {
    color:blue;
}
/*a type selector will select all element of the given type,in this case is the div element*/


/* styles class selector */

.alert-text{
    color: red;
}

/* select all elements with the given class, which is just an atributte */

/* class atribbute aloud us to add multiple classes to a single element with a space between */


/* styles id selector */

#title {
    background-color: brown;
}

/*use sparingly the id selectors */

/* styles grouping selector */

/* 
what happen when two groups share some of their style declarations?

read and unread selectors share thwo properties so we can group these selector as comma-separated list
*/
/*
.read {
    color:orangered;
    background-color: orchid;
}
.unread {
    color:orangered;
    background-color: orchid;
}
*/
.read,
.unread {
    color:white;
    background-color: orchid;
}

/* styles chaining selector */

.subsection.header{
    color:rgb(214, 50, 50);
}

/* .subsection.header selects any element that has subsection and header classes */


/* styles descendant combinator */

.ancestor .contents {
    color:palegreen;
    font-size: 30px;
}

/* 
doesnt select the contents that its outside of the nested in ancestor.The child will only be selected
if it has an ancestor with the class ancestor no mather how deep its nested.
*/


                            /* PROPERTIES TO GET STARTED WITH */
p {
    /* hex example: */
  color: #1100ff;
    /* rgb example: */
  color: rgb(100, 0, 127);
    /* hsl example: */
  color: hsl(15, 82%, 56%);

  font-family: 'Courier New', "Times New Roman", monospace;

  font-size: 22px;

  text-align:center;
}

/* 
--------------------------------------- Typography Basics------------------------------------------ 
apply the last change in this example we have 3 sets of colours, then will only use the last one because the
especificality? 
    
font-family: when we use font-family we select a list of values that is going to use the element "font family name" or
generic family font with out the quoutes
font-size: size of font in pixels
font-weight: affect the boldness of text from 0 to 1000 --> 700 is the equivalent of bold
text-align: will align text horizontally within an element
*/
img {
    height: auto;
    width: 500px;
}
/*
----------------------------------------Image Height and Width-------------------------------------
When these values aren’t included, if an image takes longer to load than the rest of the page contents,
the image won’t take up any space on the page at first, but will suddenly cause a drastic shift of the 
other page contents once it does load in
*/

/*
-----------------------------------------------Box Model-------------------------------------------
 These boxes can have other boxes in them and can sit alongside one another

*/
*  {
    /*border: 2px solid red;*/
    font-size: 30px;

  }


.box_one{
    background-color: violet;
    border: 0px;
    padding: 20px;
    margin: 20px;
}
.box_two{
    background-color: blueviolet;
    border: 0px;
}