/* styles  type selector */

div {
    color:blue;
}
/*a type selector will select all element of the given type,in this case is the div element*/


/* styles class selector */

.alert-text{
    color: red;
}

/* select all elements with the given class, which is just an atributte */

/* class atribbute aloud us to add multiple classes to a single element with a space between */


/* styles id selector */

#title {
    background-color: brown;
}

/*use sparingly the id selectors */

/* styles grouping selector */

/* 
what happen when two groups share some of their style declarations?

read and unread selectors share thwo properties so we can group these selector as comma-separated list
*/
/*
.read {
    color:orangered;
    background-color: orchid;
}
.unread {
    color:orangered;
    background-color: orchid;
}
*/
.read,
.unread {
    color:orangered;
    background-color: orchid;
}
